<div ng-controller="CashDocumentCtrl">

  <form name="form" class="form-horizontal">
    <div class="row"><div class="col-md-12"><h4>Podstawowe dane</h4></div></div>

    <div class="row">
      <div class="col-md-6">
        <div mt-form-part="invoice">
          <div mtf-ng-disabled="!costInvoice || entity.id" mt-form-field="seller.id" />
        </div>
      </div>
      <div class="col-md-3">
        <table class="table table-condensed details-table">
          <tr><td>Nazwa</td><td name="seller_name">{{idSeller.value.firstName ? idSeller.value.firstName + ' '
            + idSeller.value.lastName : idSeller.value.fullName}}</td></tr>
          <tr><td>Adres</td><td ng-bind-html="idSeller.value.address | addressPresenter"></td></tr>
        </table>
      </div>

      <div class="col-md-3">
        <table class="table table-condensed details-table">
          <tr><td>NIP</td><td>{{idSeller.value.nip}}</td></tr>
          <tr><td>Regon</td><td>{{idSeller.value.regon}}</td></tr>
        </table>
      </div>
    </div>

    <div class="row"><div class="col-md-12"><hr/></div></div>

    <div class="row">
      <div class="col-md-6">
        <div mt-form-part="invoice">
          <div mtf-ng-disabled="costInvoice || entity.id" mt-form-field="buyer.id" />
        </div>
      </div>
      <div class="col-md-3">
        <table class="table table-condensed details-table">
          <tr><td>Nazwa</td><td>{{idBuyer.value.firstName ?
            idBuyer.value.firstName + ' ' + idBuyer.value.lastName : idBuyer.value.fullName}}</td></tr>
          <tr><td>Adres</td><td ng-bind-html="idBuyer.value.address | addressPresenter"></td></tr>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-condensed details-table">
          <tr ng-show="idBuyer.value.nip"><td>NIP</td><td>{{idBuyer.value.nip}}</td></tr>
          <tr ng-show="idBuyer.value.regon"><td>Regon</td><td>{{idBuyer.value.regon}}</td></tr>
          <tr ng-show="idBuyer.value.pesel"><td>Pesel</td><td>{{idBuyer.value.pesel}}</td></tr>
        </table>
      </div>
    </div>

    <div class="row"><div class="col-md-12"><hr/></div></div>

    <div ng-include="cashDocumentBodyUrl"></div>
  </form>


  <div class="form-actions">
    <a class="btn btn-primary" ng-click="save()" translate="save" ng-if="!entity.id"></a>
    <a class="btn btn-default" href="javascript:;" onclick="window.history.back()"
       translate="{{ entity.id ? 'back' : 'cancel' }}"></a>

    <div ng-if="entity.id" download-button="entity" />

    <a ng-if="entity.id && !entity.fields.isAfterCorrection"
       class="btn btn-info" ng-href="#/prints/cashDocument?idCorrectedPrint={{entity.id}}">Korekta</a>
  </div>
</div>
