<div ng-controller="WithdrawSlipController">

  <div class="row">
    <div class="col-md-6">
      <div mt-form-part="pl.matsuo.accounting.model.print.DepositSlip" mt-entity-name="entity.fields">
        <div mt-form-field="issuanceDate" />
        <div mt-form-field="sellPlace" />
      </div>
    </div>
    <div class="col-md-6">
      <div mt-form-part="pl.matsuo.accounting.model.print.DepositSlip" mt-entity-name="entity.fields">
        <div mt-form-field="sellDate" />
        <div mt-form-field="number" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Za co</h4>

      <table class="table table-condensed table-hover table-striped input-table">
        <thead>
        <tr>
          <th class="number">Nr</th>
          <th style="width: 50%;">Nazwa</th>
          <th class="number">Ma - Kasa</th>
          <th class="number">Winien - Konto</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="position in entity.elements">
          <td class="number">{{$index + 1}}.</td>
          <td><input type="text" ng-model="position.fields.serviceName"></td>
          <td class="number"><input type="text" ng-change="recalculateSummaries()" ng-model="position.fields.price"/></td>
          <td class="number"><input type="text" ng-model="position.fields.accountNumber"/></td>
          <td><a class="fa fa-times" ng-click="remove(position)"></a></td>
        </tr>

        <tr>
          <td colspan="1"></td>
          <td class="number">Razem:</td>
          <td class="number">{{ summary | number:2 }}</td>
          <td colspan="2"></td>
        </tr>
        </tbody>
      </table>

      <h4><a class="fa fa-plus-circle" ng-click="addWithdrawSlipPosition()"></a></h4>
    </div>
  </div>
</div>
