

<div ng-controller="CashRegisterReportsCtrl">

  <form class="form">
    <h4>Lista raportów</h4>
    <input ui-select2="cashRegister.options" name="entity_cashRegister" ng-model="cashRegister.value" class="col-md-4">
  </form>

  <table class="table table-condensed table-hover table-striped input-table">
    <thead>
      <tr>
        <th>Kod</th>
        <th>Data raportu</th>
        <th>Godzina</th>
        <th class="number">Stan przed</th>
        <th class="number">Stan po</th>
      </tr>
    </thead>

     <tbody>
       <tr ng-repeat="cashRegisterReport in filteredReports">
         <td>{{cashRegisterReport.cashRegister.code}}</td>
         <td><a href="#/cash/cashRegisterReport/{{cashRegisterReport.id}}">{{cashRegisterReport.createdTime | formatDate}}</a></td>
         <td>{{cashRegisterReport.createdTime | formatTime}}</td>
         <td class="number">{{cashRegisterReport.startingBalance | number:2}} zł</td>
         <td class="number">{{cashRegisterReport.endingBalance | number:2}} zł</td>
       </tr>
     </tbody>
   </table>
</div>

